.feature {
  margin-bottom: 220px;

  &--line {
    width: 56px;
    height: 2px;
    background-color: #000000;
    margin: 15px 0px 30px;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 5.6rem;
    color: #000;
  }

  &__desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
  }

  &__btn {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    min-width: 200px;
    color: #458ff6;
    border: 1px solid #458ff6;
    background-color: transparent;
    margin-top: 50px;

    &:hover {
      background-color: #458ff6;
      color: #fff;
      transition: all 0.3s linear;
    }
  }

  .feature-content {
    display: flex;
  }

  .providers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px;

    &-img {
      transform: translateX(-120px);
    }

    .providers-content {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding-right: 50px;
    }
  }

  .dowload-app {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .dowload-app-content {
      display: flex;
      flex-direction: column;
      max-width: 420px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media screen and (max-width: 1023px) {
    .feature-content {
      flex-direction: column;
    }

    .feature__title {
      margin-top: 20px;
      font-size: 3rem;
    }

    .feature__desc {
      font-size: 1.2rem;
    }

    .providers {
      &-img {
        transform: translate(0);

        img {
          object-fit: contain;
        }
      }

      &-content{
        padding: 0;
      }
    }

    .download-app {
      &-img {
        transform: translate(0);

        img {
          object-fit: contain;
        }
      }

      &-content{
        padding: 0;
      }
    }
  }
}
