.header-main {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;

  .header-logo {
    height: 40px;
  }

  .header-menu {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 40px;
    }

    &__link {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 700;
      color: #7d7987;

      &:hover {
        color: #1f1534;
        transition: color 0.3s linear;
      }
    }
  }
}
