#service {
  margin-bottom: 220px;
  background: url("../image/bg1.png") no-repeat;
  background-position: -100px;

  .service-card {
    --column: 3;
    display: grid;
    grid-template-columns: repeat(var(--column), 1fr);
    gap: 37px;
    padding: 0px 50px;

    .service-card__item {
      padding: 36px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-5px);
        transition: transform 0.1s linear;
      }
    }

    &__icon {
      height: 100px;
    }

    &__content {
      margin-top: 20px;
      flex-grow: 1;
      flex-shrink: 2;
    }

    &__title {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 5.6rem;
      color: #000;
    }

    &__desc {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem;
      overflow: hidden;
      word-break: break-word;
      text-overflow: ellipsis;
    }
  }

  .service__btn {
    font-size: 1.8rem;
    font-weight: bold;
    color: #458ff6;
    margin: 70px auto 0px;
    background-color: #fff;
    border: 1.4px solid #458ff6;

    &:hover {
      background-color: #458ff6;
      color: #fff;
      transition: background-color 0.3s linear;
    }
  }

  @media screen and(max-width: 1023px) {
    .service-card {
      --column: 2;
    }
  }

  @media screen and(max-width: 767px) {
    .service-card {
      padding: 0;
      --column: 1;
    }
  }
}
