/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: sans-serif;
  color: #7d7987;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1144px;
  width: 100%;
  margin: 0 auto;
}

.container-fuild {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 15px 40px;
  text-align: center;
  border: 0px;
  outline: none;
  border-radius: 55px;
}

.text-center {
  text-align: center;
}

.section-heading {
  margin: 100px auto 80px;
  width: 952px;
}
.section-heading__title {
  color: #000000;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 5.6rem;
  margin-bottom: 60px;
  position: relative;
  top: 0;
}
.section-heading__title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
}
.section-heading__desc {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
.header-main .header-logo {
  height: 40px;
}
.header-main .header-menu {
  display: flex;
  align-items: center;
}
.header-main .header-menu__item {
  margin-right: 40px;
}
.header-main .header-menu__link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #7d7987;
}
.header-main .header-menu__link:hover {
  color: #1f1534;
  transition: color 0.3s linear;
}

.intro {
  display: flex;
  min-height: 600px;
  margin-top: 80px;
}
.intro__text {
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 100%;
  margin-right: 100px;
}
.intro__text-heading {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
}
.intro__text-desc {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 3.2rem;
}
.intro__text-btn {
  display: block;
  margin-top: 45px;
}
.intro__text-btn .intro__btn {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #458ff6;
  background-color: #458ff6;
}
.intro__text-btn .intro__btn:hover {
  background-color: #fff;
  color: #458ff6;
  border: 1px solid #458ff6;
  transition: background-color 0.3s linear;
}
.intro__img {
  background: url(../image/intro-logo.png) no-repeat;
  width: 695px;
}

#service {
  margin-bottom: 220px;
}
#service .service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px;
  padding: 0px 50px;
}
#service .service-card .service-card__item {
  padding: 36px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#service .service-card .service-card__item:hover {
  transform: translateY(-5px);
  transition: transform 0.1s linear;
}
#service .service-card__content {
  margin-top: 20px;
  flex-grow: 1;
  flex-shrink: 2;
}
#service .service-card__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 5.6rem;
  color: #000;
}
#service .service-card__desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
#service .service__btn {
  font-size: 1.8rem;
  font-weight: bold;
  color: #458ff6;
  margin: 70px auto 0px;
  background-color: #fff;
  border: 1.4px solid #458ff6;
}
#service .service__btn:hover {
  background-color: #458ff6;
  color: #fff;
  transition: background-color 0.3s linear;
}

.feature {
  margin-bottom: 220px;
}
.feature--line {
  width: 56px;
  height: 2px;
  background-color: #000000;
  margin: 15px 0px 30px;
}
.feature__title {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 5.6rem;
  color: #000;
}
.feature__desc {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}
.feature__btn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  min-width: 200px;
  color: #458ff6;
  border: 1px solid #458ff6;
  background-color: transparent;
  margin-top: 50px;
}
.feature__btn:hover {
  background-color: #458ff6;
  color: #fff;
  transition: all 0.3s linear;
}
.feature .providers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}
.feature .providers-img {
  transform: translateX(-120px);
}
.feature .providers .providers-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 50px;
}
.feature .dowload-app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.feature .dowload-app .dowload-app-content {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding-left: 50px;
  padding-right: 50px;
}

.customer-main {
  margin-bottom: 220px;
}
.customer-main .customer-list .customer-item {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 64px 118px;
}
.customer-main .customer-list .customer-item .customer-item__heading {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 95.5%;
  color: #fff;
  text-align: center;
}
.customer-main .customer-list .customer-item .customer-item-content {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author {
  display: flex;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author .customer-item-author__img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author .customer-item-author__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  color: #fff;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author__name {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 4.8rem;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item-author__work {
  font-size: 1.8rem;
  line-height: 4.8rem;
}
.customer-main .customer-list .customer-item .customer-item-content .customer-item__desc {
  max-width: 420px;
  width: 100%;
  font-size: 1.9rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.9);
}
.customer-main .customer-list .slick-arrow {
  position: absolute;
  background-color: transparent;
  border: 0px;
  color: #fff;
  z-index: 5;
}
.customer-main .customer-list .slick-arrow::before {
  font-size: 3rem;
}
.customer-main .customer-list .slick-prev {
  left: 10px;
}
.customer-main .customer-list .slick-next {
  right: 20px;
}
.customer-main .customer-list .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
}
.customer-main .customer-list .slick-dots li button::before {
  font-size: 1rem;
  color: #5b9bf3;
}

.article-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.article-cards .article-item {
  width: 350px;
  border-radius: 30px;
  overflow: hidden;
}
.article-cards .article-item-content {
  padding: 24px 36px 25px 33px;
}
.article-cards .article-item__img {
  width: 100%;
  display: block;
}
.article-cards .article-item__title {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 3.2rem;
  color: #000;
}
.article-cards .article-item__desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}
.article-cards .article-item__btn {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #4089ED;
  text-align: left;
}
.article-cards .article-item__btn:hover {
  text-decoration: underline;
  transition: all 0.9s linear;
}

.btn-viewAll {
  margin-top: 50px;
  margin-bottom: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 6rem;
  color: #4089ED;
  padding: 0 66px;
  background-color: transparent;
  border: 1px solid #4089ED;
}
.btn-viewAll:hover {
  background: #4089ED;
  color: #fff;
  transition: background 0.3s linear, color 0.3s linear;
}

footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding: 116px 0px;
}
footer .footer-main {
  color: #fff;
}
footer .footer-main .footer-info {
  width: 390px;
}
footer .footer-main .footer-info__logo {
  height: 41px;
}
footer .footer-main .footer-info__desc {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
}
footer .footer-main .footer-info__copyRight {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}

/*# sourceMappingURL=style.css.map */
